#navbar {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  align-items: center;
  padding: .5rem 2rem;
  position: fixed;
  background: none;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#navbarTime h1 {
  background: none;
  font-size: 3rem;
  color: rgba(255, 217, 15);
  transition: 1s;
  font-family: 'Orbitron', sans-serif;
}

#navbarTime h1:hover {
  color: rgba(255, 255, 255,.8);
}

.navbarMenu {
  display: flex;
  list-style-type: none;
}

.navbarMenu li {
  margin: 0 1rem;
}

.navbarMenu li a {
  font-size: 1.5rem;
}

.navbarMenu li a:hover {
  background: none;
  color: rgba(255, 217, 15, 1);
  filter: drop-shadow(0 0 1.5rem rgba(255, 217, 15));
}

.navbarIcons {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbarMenu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    background: rgba(0,0,0,.95);
    transition: 0.3s;
  }

  .navbarMenu.active {
    left: 0;
  }

  .navbarIcons {
    background: none;
    display: flex;
  }

  .navbarMenu li {
    background: none;
    padding: 1rem 0;
    font-size: 2rem;
  }

  .icons {
    background: none;
  }

  #navbarTime {
    background: none;
  }

  .navbarMenu li a {
    background: none;
  }
}